@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
    background-color: blanchedalmond;
}

.hero {
    width: 100vw;
    height: calc(100vh - 56px);
    background-color: aqua;
    position: relative;
    background: url('../images/bernd-dittrich-oIz9Rl7UuvI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

    .hero-text{
        color: whitesmoke;
    }

        .hero-text h1{
            font-size: 8rem;
            margin-top: -1.3em;
            font-family: 'Sigmar One', cursive;
            /* font-family: 'Abril Fatface', cursive; */
        }

        .hero-text p{
            margin-top: -1.2em;
        }

#about-me h2{
    color: #777;
}

article p{
    font-size: 1.3rem;
}